/* BASE */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #eef2f7;
}

/* CONTAINER */
.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

/* TITLE */
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* INPUT */
input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: solid 2px black;
}

/* BUTTON */
button {
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 6px;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #4338ca;
}

/* RESULT */
#result {
    margin-top: 20px;
    font-size: 16px;
    color: #444;
    background: #f3f4f6;
    padding: 10px;
    border-radius: 8px;
}

.bg-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}